/*ERIC MEYER RESET!*/

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* MEYER RESET ENDS*/

* {
    box-sizing:border-box;
}

*::after, *::before{
    box-sizing: inherit;
}

html{
    overflow-y: scroll;
}

body{
    font-family: "Avenir Next", 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Avenir Next', sans-serif;
}

a {
    color: #E35050;
    text-transform: none;
    text-decoration: none;
}

.b_{
    font-weight: bold;
    font-family: 'Exo', sans-serif;
    color: #e40066;
}

.main--wrapper {
    
}

.container {
    width: 80%;
    margin: 0 auto;
}

.main--header {
    text-align: center;
    margin: 60px auto;
}

.intro--header {
    font-size: 36px;
    margin-bottom: 60px;
}

.header--websites {
    font-size: 36px;
}

hr {
    width: 70%;
    margin: 15px auto;
}

.header--online--marketing {
    font-size: 36px;
}

.client--list {
    font-size: 20px;
    height: 150px;
    background: #f2f2f2;
    margin-bottom: 40px;
    text-align: center;
}

.client--list__title{
    padding-top: 10px;
}

.services--list {
    margin-bottom: 50px;
}

.services--list--item {
    width: 48%;
    text-align: center;
}

.services--icon--item {
    width: 110px;
    margin: 0 auto;
    height: 110px;
    border-radius: 50%;
    background: #D8D8D8;
    border: 1px solid #979797;
    /* z-index: 200; */
}

.services--title {
    font-size: 36px;
    padding-top: 70px;
}

.services--content {
    background: #f2f2f2;
    border: 1px solid #979797;
    padding: 20px;
    border-radius: 10px; 
    margin-top: -55px;
}

.services--content--main {
    line-height: initial;
}

.services--title .services--content--main:first-child {
    margin-bottom: 15px;
}

.services--list--website {
    float: left;
}

.services--website--icon {

}

.services--website__content {

}

.website--content__title {
    
}

.website--content__main {

}

.services--list--online--marketing {

}

.services--online--marketing__icon {

}

.services--website__content {

}

.oniline--marketing--content__title {

}

.online--marketing--content__main {

}

.contact--area {

}

.contact--header {

}

.contact--form {

}

.contact--details {

}

.contact--telephone {

}

.contact--email {

}

.contact--address {

}

.address--details {

}

[rel="publisher"]{
    display: none;
}

@media(max-width: 480px){
    /*phones*/
}

@media(max-width: 768px){
    /*tablets*/
}

@media(max-width: 992px){
    /*netbooks, small screens*/
}