<!doctype html>
<html lang="en">
<head>
	{% block head %}
	<meta charset="UTF-8">
	<title>{% block title %} BoughtSpot {% endblock %}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="description" content="BoughtSpot_ - media buying, online marketing, digital advertising, SaaS for SMEs">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/boughtspot.ico') }}">
	<link href='http://fonts.googleapis.com/css?family=Exo:800|Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/boughtspot.css') }}" media="screen">
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css') }}" media="screen"> -->
	{% endblock %}
</head>

<body>
	<div class="home-wrapper">
		<div class="home-overlay"></div>
		<section class="home-text">
			<p class="home-title">BoughtSpot_</p>
			<p class="home-tagline">ONLINE ADVERTISING &amp; MEDIA BUYING</p>
			<hr>
			<p class="home-offline-cta">Call / WhatsApp +233208747355</p>
			<!-- <p class="home-online-cta">follow, like, email</p> -->
		</section>
		<!-- <div class="bottom-text"><p><span class="b_">BoughtSpot_</span> | Putting every Ghanaian business online</p></div> -->
		<a href="https://plus.google.com/100474360086510782325" rel="publisher">Google+</a>
	</div>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-53035265-1', 'auto');
	  ga('send', 'pageview');

	</script>
</body>
</html>