<!doctype html>
<html lang="en">
<head>
	{% block head %}
	<meta charset="UTF-8">
	<title>{% block title %} BoughtSpot {% endblock %}</title>
	<link href='http://fonts.googleapis.com/css?family=Lato|Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/boughtspot.css') }}" media="screen">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css') }}" media="screen">
	{% endblock %}
</head>

<body>
	<nav>
		<ul>
			<li class="logo-wrapper"><a href="{{ url_for('home') }}">BoughtSpot</a></li>
			<li><a href="#about">About Us</a></li>
			<li><a href="#clients">Clients</a></li>
			<li><a href="#contact">Contact Us</a></li>
		</ul>
	</nav>


	{% block body %}
	<section id="about">
		<h1>Brand Identity, Web Development &amp; Online Advertising</h1>
		<p>At BoughtSpot, we help you define your brand, build your web presence and increase engagement with customers. Simply, we design logos, brochures, websites while advertising your business online on social networks, blogs, etc.</p>
		<a class="button" href="">Work With Us</a>
	</section>

	<section id="clients">
		<h2>They have enjoyed working with us. You can too.</h2>
		<h3>Website Design, Consulting and Development<h3>
		<span><a href="http://jcdfoundation.org">Joselyn Canfor-Dumas Foundation</a></span>
		<span><a href="http://chrisattohofficial.com">Chris Attoh</a></span>
		<span><a href="http://leadersandmentors.biz">Leaders and Mentors</a></span>
		<span><a href="http://gdriv.es/machiv">Mach IV Aviation</a></span>

		<h3>Online Marketing</h3>
		<span><a href="http://sparrowstation.com">Sparrow Station</a></span>
		<span><a href="http://nimstreet.com">Nim Street</a></span>
		<span><a href="http://blu.com.gh">Blu Telecommunications</a></span>
	</section>

	<section>
		Get in touch.
		<form action="">
			<input type="Name" placeholder="Your Name">
			<textarea name="" id="" cols="30" rows="10" placeholder="Your message"></textarea>
			<a class="button" href="">Talk to us</a>
		</form>
	</section>

	{% endblock body %}

	{% block footer %}
	<footer>
		<span>
			<li>&copy; 2014, BoughtSpot</li>
			<li><a href="#about">About Us</a></li>
			<li><a href="#clients">Clients</a></li>
			<li><a href="#contact">Contact Us</a></li>
		</span>
		<span>
			<li>Phone: <a href="tel:+233205479685">+233205479685</a> </li>
			<li>Email: <a href="mailto:work@boughtspot.com">work@boughtspot.com</a></li>
		</span>
		<span>
			<a href="https://facebook.com/boughtspot"><i class="fa fa-facebook forge-right-pad"></i></a>
			<a href="https://twitter.com/boughtspot"><i class="fa fa-twitter forge-right-pad"></i></a>
			<a href="https://plus.google.com/+boughtspot"><i class="fa fa-google-plus forge-right-pad"></i></a>
		</span>

	</footer>
	<a href="https://plus.google.com/100474360086510782325" rel="publisher">Google+</a>
	{% endblock footer %}
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-53035265-1', 'auto');
	  ga('send', 'pageview');

	</script>
</body>
</html>