<!doctype html>
<html lang="en">
<head>
	{% block head %}
	<meta charset="UTF-8">
	<title>{% block title %} BoughtSpot {% endblock %}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="description" content="BoughtSpot_ - website design, website development, media buying, online marketing, digital advertising, SaaS for SMEs">
	<meta name="keywords" content="website development in ghana, website development in Ghana, online marketing in Ghana, social media marketing and advertising">
	<meta name="viewport" content="width=min-device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/boughtspot.ico') }}">
	<link href='http://fonts.googleapis.com/css?family=Exo:800|Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/boughtspot.css') }}" media="screen">
	{% endblock %}
</head>

<body>
	<div class="main--wrapper">
		<div class="container">
			<header class="main--header">
				<h2 class="intro--header">Hi, we are BoughtSpot_</h2>
				<h3 class="header--websites">We make beautiful <a href="#websites">websites...</a></h3>
				<hr>
				<h3 class="header--online--marketing">... and we are skilled in <a href="#marketing">online marketing.</a></h3>
			</header>
		</div>
		<section class="client--list">
			<p class="client--list__title">Some of our clients</p>
		</section>
		<div class="container">		
			<section class="services--list">
				<div id="websites" class="services--list--item services--list--website">
					<div class="services--icon--item services--website__icon"></div>
					<section class="services--content services--website__content">
						<h3 class="services--title website--content__title">Website Development</h3>
						<p class="services--content--main website--content__main">Your website is the first point of call for most customers who hear about you. Its effectiveness will boost your competitive advantage. You will gain a competitive edge with a website which satisfies your needs.</p>
						<p class="services--content--main website--content__main">We adhere to industry practices and employ robust platforms which deliver the best experience for both you and your customers. In all this, you will be happy and confident in the product because you have played a part in producing a wonderful work.</p>
					</section>
				</div>
				<div id="marketing" class="services--list--item services--list--online--marketing">
					<div class="services--icon--item services--online--marketing__icon"></div>
					<section class="services--content services--online--marketing__content">
						<h3 class="services--title online--marketing--content__title">Online Marketing</h3>
						<p class="services--content--main online--marketing--content__main">Your customers are online, on blogs, social networks, and mobile apps and games. We help you reach your customers on these platforms. This will help you generate more leads for your business.</p>
						<p class="services--content--main online--marketing--content__main">With numerous benefits over traditional advertising, your competitors are now using online marketing to reach new and existing customers. Beyond this, we help you grow your social media following and increase engagement for your brand.</p>
					</section>
				</div>
			</section>
		</div>
		<section class="contact--area">
			<h3 class="contact--header">Convinced? Let us speak some more.</h3>
			<div class="contact--form">

			</div>
			<div class="contact--details">
				<p class="contact--telephone"><a href="tel:+233208747355">+233 208 747 355</a></p>
				<p class="contact--telephone"><a href="tel:+233505278254">+233 505 278 254</a></p>
				<p><a class="contact--email" href="mailto:office@boughtspot.com">office@boughtspot.com</a></p>
				<section class="contact--address">
					<p class="address--details">13 Star Avenue,</p>
					<p class="address--details">Kokomlemle, Accra</p>
				</section>
			</div>

		</section>
		<a href="https://plus.google.com/100474360086510782325" rel="publisher">Google+</a>
	</div>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-53035265-1', 'auto');
		ga('display', 'features');
		ga('send', 'pageview');

	</script>
</body>
</html>